# Tell GitHub linguist to ignore Unity meta/config files
*.meta linguist-detectable=false
*.asmdef linguist-detectable=false

# Don't count shader files in language stats
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.hlsl linguist-detectable=false

# Count all C# files as C#
*.cs linguist-language=C#